header {
    background: #eaeaea;
    margin: 0 165px;
    padding: 15px 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: 700;
    font-size: 25px;
  
    .logo {
      cursor: pointer;
    }

    .navbar {
      display: flex;
      align-items: center;
      justify-content: space-between;
      align-items: flex-start;
    }

    .navbar_favorite,
    .navbar_basket {
      position: relative;
      padding: 15px;
    }
  
    .favorite-icon{
      width: 22px;
      height: 20px;
      cursor: pointer;
    }
    .basket-icon{
      width: 23.2px;
      height: 23.2px;
      cursor: pointer;
    }
      
    
  // 🔸 кружочек-счётчик
  .badge {
    position: absolute;   // позиционируем относительно .navbar_favorite
    top: 10px;            // немного выше иконки
    right: 6px;          // сдвигаем чуть правее
    background: #ffa542;  // жёлтый, как в макете
    color: #fff;
    font-size: 11px;
    font-weight: 700;
    width: 17.4px;
    height: 17.4px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    line-height: 1;
  }

    //   img {
    //     width: 24px;
    //     cursor: pointer;
    //     transition: transform 0.2s ease;
  
    //     &:hover {
    //       transform: scale(1.1);
    //     }
    //   }
    // }
  }
  